%h2 会員情報入力
= form_for(@user, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label :ニックネーム
    %span.form-group_require 必須
    %br/
    = f.text_field :nickname,{autofocus: true, placeholder: "例）フリマ太郎"}
  .field
    = f.label :メールアドレス
    %span.form-group_require 必須
    %br/
    = f.email_field :email, {autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"}
  .field
    = f.label :パスワード
    %span.form-group_require 必須
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} 文字以上入力してください)
    %br/
    = f.password_field :password, {autocomplete: "new-password", placeholder: "7文字以上の半角英数字"}
  .field
    = f.label :パスワード（確認）
    %span.form-group_require 必須
    %br/
    = f.password_field :password_confirmation, {autocomplete: "new-password", placeholder: "7文字以上の半角英数字"}
  .field
    = f.label :お名前（全角）
    %span.form-group_require 必須
    %br/
    = f.text_field :family_name, {autofocus: true, placeholder: "例）木本"}
    %br/
    = f.text_field :first_name, {autofocus: true, placeholder: "例）洋一郎"}
    .field
    = f.label :お名前カナ（全角）
    %span.form-group_require 必須
    %br/
    = f.text_field :family_name_furigana, {autofocus: true, placeholder: "例）キモト"}
    %br/
    = f.text_field :first_name_furigana, {autofocus: true, placeholder: "例）ヨウイチロウ"}
  .field
    =f.label :生年月日
    %span.form-group_require 必須
    %br/
    = f.date_select :birth_date, use_month_numbers: true,
      start_year: 1945,
      end_year: (Time.now.year - 0),
      default: Date.new(2000, 1, 1)
      
  .actions
    = f.submit "次へ進む"
    
= render "devise/shared/links"
