= render "items/header"

.okay

  .okay__content
    = render "sidetab"

    .okay__content__maintab
      .okay__content__maintab__user
        .okay__content__maintab__user__top
          .okay__content__maintab__user__top__icon
            = image_tag 'member_photo_noimage_thumb2.png', size: "60x60", class: 'icon'
          .okay__content__maintab__user__top__name
            .okay__content__maintab__user__top__name__nametab
            = link_to current_user.nickname, "/users/#{current_user.id}/owner", class: "name-btn"
      .okay__content__maintab__bottons
        .okay__content__maintab__bottons__credit-btn
        = link_to "クレジットカード登録/変更", new_credit_card_path, class: "credit-btn"

= render "items/footer"