= render "posts/header"

.okay
  .okay__content
    .okay__content__sidetab
      %h4
        = link_to "マイページ", "/users/#{current_user.id}", class: "tab"
      %h4 出品する
      %h4 出品した商品-出品中
      %h4 出品した商品-売却済み
      %h4 購入した商品-取引中
      %h4 購入した商品-過去の取引
      %h5 設定
      %h4 本人情報
      %h4 メール/パスワード
      %h4
        = link_to "クレジットカード登録/変更", "/users/#{current_user.id}/credit"
      %h4
        = link_to "ログアウト", "/users/#{current_user.id}/logout"

    .okay__content__maintab
      .okay__content__maintab__user
        .okay__content__maintab__user__top
          .okay__content__maintab__user__top__icon
            = image_tag 'member_photo_noimage_thumb2.png', size: "60x60", class: 'icon'
          .okay__content__maintab__user__top__name
            .okay__content__maintab__user__top__name__nametab
            = link_to current_user.nickname, "/users/#{current_user.id}", class: "name-btn"
      .okay__content__maintab__bottons
        .okay__content__maintab__bottons__credit-btn
        = link_to "クレジットカード登録/変更", new_credit_card_path, class: "credit-btn"

= render "items/footer"