%h2 パスワードをお忘れの方
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :メールアドレス
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class:"field__input"
  .actions
    = f.submit "送信する", class:"actions__submit_btn"
= render "devise/shared/links"
