.headerTop_inner
  .notifications
    - flash.each do |key, value|
      = content_tag(:div, value, class: key)
  .headerTop_main
    %h1.icon
      = link_to root_path do
        =image_tag'logo.png', size: "140x40"
    .box
      = form_with url: root_path do |f| 
        .box_search 
          = f.text_field :name, class: 'box_search', placeholder: 'キーワードから探す'
          %button{type: "submit", class:'box_search-icon'}
            .box_search-icon
              = link_to image_tag'icon-search 1.png', size: "19x19"
  .headerTop_bottom
    %ul.left
      %li.leftitem
        = link_to  "#", class: "category__search search__btn" do
          カテゴリー
        .tree
          %ul.category__parent.category
            - @parents.each do |parent|
              %li
                = link_to "#", class: "category__parent--name" do
                  = parent.name
                %ul.category__child.category
                  - parent.children.each do |child|
                    %li
                      = link_to "#", class: "category__child--name" do
                        = child.name
                      %ul.category__grandchild.category
                        - child.children.each do |grandchild|
                          %li
                            = link_to "#", class: " category__grandchild--name" do
                              = grandchild.name 
        %li.leftitem
          = link_to  "#", class: "category__search search__btn" do
            ブランド
          .tree
            %ul.category__parent.category
              %li.category__parent--name
                = link_to  "#", class: "category__search" do
                  シャネル
              %li.category__parent--name
                = link_to  "#", class: "category__search" do
                  グッチ
              %li.category__parent--name
                = link_to  "#", class: "category__search" do
                  Tiffany＆Co
              %li.category__parent--name
                = link_to  "#", class: "category__search" do
                  ドルチェ＆ガッバーナ
              %li.category__parent--name
                = link_to  "#", class: "category__search" do
                  クロエ
              %li.category__parent--name
                = link_to  "#", class: "category__search" do
                  Supreme
              %li.category__parent--name
                = link_to  "#", class: "category__search" do
                  Northface
    %ul.right
      - if user_signed_in?
        = link_to "マイページ", "/users/#{current_user.id}", class: "header__right--btn"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
      - else
        = link_to "ログイン", new_user_session_path, class: "header__right--btn"
        = link_to "新規会員登録", new_user_registration_path, class: "header__right--btn"
        = link_to 'Facebookで登録/ログイン', user_facebook_omniauth_authorize_path, method: :post, class: "header__right--btn"
        = link_to 'Googleで登録/ログイン', user_google_oauth2_omniauth_authorize_path, method: :post, class: "header__right--btn"
      = yield 