.main
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name= @item.name
          .itemBox__body
            %ul
              %li
                .itemBox__body__img
                  =image_tag(@item.images[0].src.url)
                    - if @item.buyer_id.present?
                    .itemBox__body__img__badge
                      .itemBox__body__img__badge__inner
                        SOLD
                %ul
                  - @item.images.each_with_index do |image, i|
                    %li
                      = image_tag "#{image.src}"
          .itemBox__price
            %span="¥#{@item.price}"
            .itemBox__price-detail
              %span
                (税込)
              %span
                送料込み
          - if @item.buyer_id.present?
            = link_to "売り切れました", "#", class: "itemBox__buy-btn-disable"
          - elsif user_signed_in?
            - if current_user.id == @item.seller_id
              = link_to "自分の商品です", "#", class: "itemBox__buy-btn-disable"
            - elsif @item.buyer_id.blank?
              = link_to "購入画面に進む", purchase_item_path(@item), class: "itemBox__buy-btn-able"
          - else
            = link_to "購入画面に進む", new_user_session_path, class: "itemBox__buy-btn-able"
          .itemDetail= @item.description
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td=@item.seller.nickname
                %tr
                  %th カテゴリー
                  %td
                    =link_to @item.category.root.name
                    %br
                    =link_to @item.category.parent.name
                    %br
                    =link_to @item.category.name
                %tr
                  %th ブランド
                  %td=@item.brand.name
                %tr
                  %th 商品のサイズ
                  %td=@item.size.name
                %tr
                  %th 商品の状態
                  %td=@item.condition.name
                %tr
                  %th 配送料の負担
                  %td=@item.shipping_fee.name
                %tr
                  %th 発送元の地域
                  %td=link_to @item.prefecture.name
                %tr
                  %th 発送日の目安
                  %td=@item.delivery_days.name
          .optionalArea
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                = link_to "" do
                  %i.fa.fa-flag
                  不適切な商品の通報
        .commentBox
          %ul.commentContents
          %form#new_comment.new_comment{ "accept-charset": "UTF-8", action: "#", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "dzgtOn5XbsgDkpl/yKnG5CcdM6/4LZlSRSlKC0c5vfos/DqBMnEenOpzKTN0rVjqc5bNE72/2rENEYsHrFBEAw=="}/
            %textarea#comment_body{name: "comment[body]", required: "required"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentBtn{name: "button", type: "submit"}
              %i.fa.fa-comment
                コメントする
            - if user_signed_in? && current_user.id ==@item.seller_id
              %button.commentBtn
                = link_to "削除する", item_path(@item), method: :delete, class: "commentBtn"
            - if user_signed_in? && current_user.id ==@item.seller_id
              %button.commentBtn
                = link_to "編集する", "/items/#{@item.id}/edit", method: :get

      %ul.links
        %li
          = link_to "" do
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          = link_to "" do
            %span 後ろの商品
            %i.fa.fa-angle-right
      .relatedItems
        = link_to "#{@item.category.root.name}をもっとみる"
        .productLists
          .productList
            = link_to "" do
              %figure.productList--img
                = image_tag 'a007.png'
              .productList--body
                %h3.name product3
                .details
                  %ul
                    %li 30000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
