%nav.breadCrumbs
  %ul
    %li
      = link_to "FURIMA"
    %li
      %i.fa.fa-angle-right
    %li
      = link_to @item.category.root.name
    %li
      %i.fa.fa-angle-right
    %li
      = link_to @item.category.parent.name
    %li
      %i.fa.fa-angle-right
    %li
      = link_to @item.category.name
    %li
      %i.fa.fa-angle-right
    %li
      %p= @item.name

      