
.search
  - breadcrumb :search_items, @user
  = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs"

  .search__header
    = render "header"

  .search__content
    = render "search_left"
    .search__content__right
      .search__content__right__title
        .search__content__right__title__name
          検索一覧
      %h3.search__content__right__title__head
        - if @keyword.present?
          = @keyword
          %span.search__content__right__title__head__text
            の検索結果
        - else
          検索結果
      .search__content__right__title__head__number
        ="1-#{@items.count}件表示"

      .search-items
        .search-items__content
          = render @items


  .search__footer
    = render "footer"
