.footer
  %ul.contents
    %li.content1
      %h2.content1_head FURIMAについて
      %ul
        %li
          = link_to '会社概要（運営会社）', '#'
        %li
          = link_to 'プライバシーポリシー', '#'
        %li
          = link_to 'FURIMA利用規約', '#'
        %li
          = link_to 'ポイントに関する特約', '#'

    %li.content1
      %h2.content1_head FURIMAを見る
      %ul
        %li
          = link_to 'カテゴリー一覧', '#'
        %li
          = link_to 'ブランド一覧', '#'

    %li.content1
      %h2.content1_head ヘルプ＆ガイド
      %ul
        %li
          = link_to 'FURIMAガイド', '#'
        %li
          = link_to 'FURIMAロゴ利用ガイドライン', '#'
        %li
          = link_to 'お知らせ', '#'
  .footer_logo
    = link_to image_tag 'logo-white.png', size: '160x46'
    %p ©️FURIMA
%a{:href => "#"}
  .purchase-btn
    %span.purchase-btn_text 出品する
    = image_tag '/assets/icon_camera.png', size: "54x54"
