.headerTop_inner
  .headerTop_main
    %h1.icon
      =link_to root_path do
        =image_tag'logo.png', size: "140x40"
    .box
      = form_with url: root_path do |f| 
        .box_search 
          = f.text_field :name, class: 'box_search', placeholder: 'キーワードから探す'
          %button{type: "submit", class:'box_search-icon'}
            .box_search-icon
              = link_to image_tag'icon-search 1.png', size: "19x19"
              
  .headerTop_bottom
    %ul.left
      %li.leftitem
        = link_to "カテゴリー"
        .tree.displayNone
          %ul.categoryTree
            %li.categoryTree--item
              = link_to "レディース"
            %li.categoryTree--item
              = link_to "メンズ"
            %li.categoryTree--item
              = link_to "ベビー・キッズ"
            %li.categoryTree--item
              = link_to "インテリア・住まい・小物"
            %li.categoryTree--item
              = link_to "本・音楽・ゲーム"
            %li.categoryTree--item
              = link_to "おもちゃ・ホビー・グッズ"
            %li.categoryTree--item
              = link_to "コスメ・香水・美容"
            %li.categoryTree--item
              = link_to "家電・スマホ・カメラ"
            %li.categoryTree--item
              = link_to "スポーツ・レジャー"
            %li.categoryTree--item
              = link_to "ハンドメイド"
            %li.categoryTree--item
              = link_to "チケット"
            %li.categoryTree--item
              = link_to "自動車・オートバイ"
            %li.categoryTree--item
              = link_to "その他"
      %li.leftitem
        = link_to "ブランド"
        .tree.displayNone
          %ul.categoryTree
            %li.categoryTree--item
              = link_to "シャネル"
            %li.categoryTree--item
              = link_to "グッチ"
            %li.categoryTree--item
              = link_to "ドルチェ＆ガッバーナ"
            %li.categoryTree--item
              = link_to "インテリア・住まい・小物"
            %li.categoryTree--item
              = link_to "本・音楽・ゲーム"
            %li.categoryTree--item
              = link_to "おもちゃ・ホビー・グッズ"
            %li.categoryTree--item
              = link_to "コスメ・香水・美容"
            %li.categoryTree--item
              = link_to "家電・スマホ・カメラ"
            %li.categoryTree--item
              = link_to "スポーツ・レジャー"
            %li.categoryTree--item
              = link_to "ハンドメイド"
            %li.categoryTree--item
              = link_to "チケット"
            %li.categoryTree--item
              = link_to "自動車・オートバイ"
            %li.categoryTree--item
              = link_to "その他"
    %ul.right
      - if user_signed_in?
        = link_to "マイページ", "/users/#{current_user.id}", class: "header__right--btn"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
      - else
        = link_to "ログイン", new_user_session_path, class: "header__right--btn"
        = link_to "新規会員登録", new_user_registration_path, class: "header__right--btn"
        = link_to 'Facebookで登録/ログイン', user_facebook_omniauth_authorize_path, method: :post, class: "header__right--btn"
        = link_to 'Googleで登録/ログイン', user_google_oauth2_omniauth_authorize_path, method: :post, class: "header__right--btn"
      = yield 